
/* SET BASE WIDTH TO LANDING PAGE */
body {
  max-width: 1100px;
  margin: 0 auto;
  padding: 50px;
  background-color: blanchedalmond;
}

/* CENTERS MY CONFERENC LOGOS ON PAGE */
.tableOfLogos {
  margin-left: auto;
  margin-right: auto;
}

/* RESIZE THE CONFERENCE LOGO IMAGES  */
.resizeImage {
  height: 150px;
  width: 150px;
  padding: 2px;
  border: 3px solid;
}

/* FIRST BUTTON FOR EASY TRIVIA GAME */
#btn1 {
  padding: 5px;
  border: 2px solid;
}

/* SECOND BUTTON FOR HARD TRIVIA GAME */
#btn2 {
  padding: 5px;
  border: 2px solid;
}

/* TITLES WITHIN INDEX.HTML */
h1,
h2 {
  text-align: center;
}