/* THIS IS THE MODAL AREA FOR ALL THE MODALS ON LANDING PAGE.  THERE ARE 10 TOTAL.  ALL HAVE THE
SAME FUNCTIONS, THEY ALL PRESENT A SET OF TEAMS FROM THAT PARTICULAR DIVISION THEY ARE
LOCATED WITHIN.  ----THIS IS JUST THE MODAL STYLES FOR THE MODALJS.JS FILE */

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.6;
    background-color: white;

}

#modalBtn1,
#modalBtn2,
#modalBtn3,
#modalBtn4,
#modalBtn5,
#modalBtn6,
#modalBtn7,
#modalBtn8,
#modalBtn9,
#modalBtn10 {
    width: 150px;
    font-size: small;
    padding: 4%;
    background-color: black;
    color: white;
    border: 1px solid red;
}

#modalBtn1:hover,
#modalBtn2:hover,
#modalBtn3:hover,
#modalBtn4:hover,
#modalBtn5:hover,
#modalBtn6:hover,
#modalBtn7:hover,
#modalBtn8:hover,
#modalBtn9:hover,
#modalBtn10:hover {
    background: red;

}

.firstModal,
.firstModal2,
.firstModal3,
.firstModal4,
.firstModal5,
.firstModal6,
.firstModal7,
.firstModal8,
.firstModal9,
.firstModal10 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: white;
    margin: 20% auto;
    padding: 20px;
    width: 70%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 5px 8px 0 rgba(0, 7, 20, 0.17);
}

.closeFirstModal,
.closeFirstModal2,
.closeFirstModal3,
.closeFirstModal4,
.closeFirstModal5,
.closeFirstModal6,
.closeFirstModal7,
.closeFirstModal8,
.closeFirstModal9,
.closeFirstModal10 {
    color: seashell;
    float: right;
    font-size: 30px;
    ;
}

.closeFirstModal:hover,
.closeFirstModal:focus,
.closeFirstModal2:hover,
.closeFirstModal2:focus,
.closeFirstModal3:hover,
.closeFirstModal3:focus,
.closeFirstModal4:hover,
.closeFirstModal4:focus,
.closeFirstModal5:hover,
.closeFirstModal5:focus,
.closeFirstModal6:hover,
.closeFirstModal6:focus,
.closeFirstModal7:hover,
.closeFirstModal7:focus,
.closeFirstModal8:hover,
.closeFirstModal8:focus,
.closeFirstModal9:hover,
.closeFirstModal9:focus,
.closeFirstModal10:hover,
.closeFirstModal10:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}