/* SET BASE WIDTH TO LANDING PAGE */
body {
  text-align: center;
  background-color: white;
}

/* CENTERS MY CONFERENCe LOGOS ON PAGE */
.tableOfLogos {
  margin-left: auto;
  margin-right: auto;
  padding-top: 5%;

  width: 25%;
  text-align: center;
}

/* RESIZE THE CONFERENCE LOGO IMAGES  */
.resizeImage {
  height: 150px;
  width: 150px;
  padding: 2px;
  border: 3px solid;
}

/* FIRST BUTTON FOR EASY TRIVIA GAME */
#btn1 {

  padding: 5px;
  border: 4px solid rgb(243, 88, 41);
  font-size: medium;
  width: 30%;
  margin-left: auto;
  margin-right: auto;

}

/* TITLES WITHIN INDEX.HTML */
h1 {
  text-align: center;
  padding: 20px;
  font-size: x-large;
  color: black;
}

/* horizontal line on landing page */
hr {
  border-top: 2px solid black;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

/* italics within statements on homepage */
i {
  text-decoration: underline;
}

h3 {
  text-align: center;
  color: black;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  color: rgb(247, 6, 6);
}


h4 {
  text-align: center;
  color: black;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

/* gameHtml page  */
#gameControls {
  /* width: 900px; */
  display: inline-block;
  position: relative;
  padding-left: 10%;
  padding-right: 10%;
}

/* ALL THREE BUTTONS BELOW ARE ON THE SECOND PAGE OF PROJECT
THEY ARE LABELED AS FOLLOWS: 'NEXT QUESTION', 'RESET GAME', 'EXIT GAME'  */
#resetBtn {
  text-align: center;
  font-size: medium;
  width: 300px;
  padding: 2%;
  background-color: black;
  color: white;
  bottom: 10px;
  border: 1px solid red;
}

#exitBtn {
  text-align: center;
  font-size: medium;
  width: 300px;
  padding: 2%;
  background-color: black;
  color: white;
  bottom: 10px;
  border: 1px solid red;
}

#nextBtn {
  width: 300px;
  text-align: center;
  font-size: medium;
  width: 200px;
  padding: 2%;
  background-color: black;
  color: white;
  bottom: 10px;
  border: 1px solid red;
}

/* THIS IS WHERE THE QUESTION FROM THE ARRY POPULATES DYNAMICALLY/RANDOMLY INTO PAGE */
#questionDiv {
  position: relative;
  align-content: center;
  font-size: x-large;
  font-weight: bold;
  margin-top: 10%;
  margin-bottom: 8%;
  margin-left: 25%;
  margin-right: 25%;
}

/* THIS IS WHERE THE ANSWERS FROM THE ARRY POPULATES DYNAMICALLY/RANDOMLY INTO PAGE */
#answerDiv {
  margin-top: 5%;
}

.tableAnswers {
  margin-left: auto;
  margin-right: auto;
  border-spacing: 10px;
}



/* THIS IS WHERE THE ONE ANSWER FROM THE ARRAY WITHIN ARRAY POPULATES WITH THE ONE ANSWER ONCE
YOU LOOP AROUND IT, AND THE SAME FROM ALL THE NEXT THREE LABELED AS 'FIRST', 'SECOND', 'THIRD', 'FORTH'
 */
/* IF YOU CLICK OVER THEM THEY WILL HIGHTLIGHT TO ANOTHER COLOR */
#firstAnswer {
  padding: 0%;
  border: none;
}

#secondAnswer {
  padding: 0%;
  border: none;
}

#thirdAnswer {
  padding: 0%;
  border: none;
}

#forthAnswer {
  padding: 0% 0% 0% 0%;
  border: none;
}

/* DONE WITH THIS SECTION FROM C/W ANSWERS */
#scorebuttons {
  padding-top: 1%;
  padding-bottom: 1%;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  height: 5%;
  width: 20%;
  border: 1px solid rgb(248, 4, 4);
  background-color: black;
  color: white;
}

/* THESE ARE THE PICS FOR EACH ANSWER KEY / QUESTION */
img {
  height: 200px;
  width: 200px;
  border: 3px solid rgb(0, 0, 0);
}

#footer {
  padding-top: 3%;
  width: 60%;
  font-size: smaller;
  margin-left: auto;
  margin-right: auto;
}