/* SET BASE WIDTH TO LANDING PAGE */
body {
  max-width: 1100px;
  margin: 0 auto;
  padding: 50px;
  background-color: blanchedalmond;
}

/* CENTERS MY CONFERENC LOGOS ON PAGE */
.tableOfLogos {
  margin-left: auto;
  margin-right: auto;
}

/* RESIZE THE CONFERENCE LOGO IMAGES  */
.resizeImage {
  height: 150px;
  width: 150px;
  padding: 2px;
  border: 3px solid;
}

/* FIRST BUTTON FOR EASY TRIVIA GAME */
#btn1 {
  padding: 5px;
  border: 4px solid rgb(243, 88, 41);
  font-size: medium;
}

/* SECOND BUTTON FOR HARD TRIVIA GAME */
#btn2 {
  padding: 5px;
  border: 4px solid rgb(243, 88, 41);
  font-size: medium;
}

/* TITLES WITHIN INDEX.HTML */
h1 {
  text-align: center;
  padding: 20px;
  font-size: x-large;
}
/* horizontal line on landing page */
hr {
  border-top: 3px solid black;
}

/* italics within statements on homepage */
i {
  text-decoration: underline;
}

h2 {
  text-align: center;
}

/* gameHtml page  */
#resetBtn {
  float: left;
  text-align: center;
  font-size: medium;
  width: 20%;
  padding: 2%;
  position: absolute;
  bottom: 10px;
  border: 1px solid red;
}

#exitBtn {
 float: right;
  text-align: center;
  font-size: medium;
  width: 20%;
  padding: 2%;
  bottom: 10px;
  border: 1px solid red;
}